@media (max-width: 900px) {
  .banner .userimage-update {
    left: 50%;
    transform: translate(-50%);
  }
  .username-update {
    text-align: center;
    margin-top: 100px;
  }
  .col-3 {
    display: none;
  }
  .col-5,
  .col-4 {
    width: 100%;
  }
  .username-update .edit-buttons {
    justify-content: center !important;
  }
  .username-update h2 {
    padding-left: 0 !important;
  }
  .recommendation {
    margin-top: 200px !important;
  }
}
@media (min-width: 901px) {
  .username-update {
    margin-top: 16px;
  }
}
@media (max-width: 924px) {
  .intro,
  .aboutuser {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .aboutuser-shadow h4 {
    width: 100%;
  }
  .aboutuser-shadow:nth-child(2) > div:first-child {
    flex-direction: column;
    text-align: center;
  }
  .aboutuser-shadow:first-child .live {
    flex-direction: column;
    width: 100%;
  }
  .like {
    flex-direction: column;
    width: 100%;
  }
  button {
    text-align: left;
  }
}
/* Setting the username */
@media (min-width: 1400px) {
  .username-update .blank-space {
    flex: 0 0 auto;
    width: 17%;
  }
  .nameOfUser {
    flex: 0 0 auto;
    width: 41.33%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .username-update .blank-space {
    flex: 0 0 auto;
    width: 19%;
  }
  .nameOfUser {
    flex: 0 0 auto;
    width: 39.33%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .username-update .blank-space {
    flex: 0 0 auto;
    width: 23%;
  }
  .nameOfUser {
    flex: 0 0 auto;
    width: 35.33%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .username-update .blank-space {
    flex: 0 0 auto;
    width: 23%;
  }
  .nameOfUser {
    flex: 0 0 auto;
    width: 35.33%;
  }
}
@media (min-width: 901px) and (max-width: 991px) {
  .username-update .blank-space {
    flex: 0 0 auto;
    width: 30%;
  }
  .nameOfUser {
    flex: 0 0 auto;
    width: 28.33%;
  }
}
/*done*/
